.header {
  height: 84px;
  .layout {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.logo {
  width: 100px;
  height: 21px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main-content {
  position: relative;
  &:before {
    content: "";
    background: url("./assets/hero-mobile.jpg") no-repeat top center;
    width: 376px;
    height: 250px;
    position: absolute;
  }
}

.main-content__text-block {
  padding-top: 312px;
}

.main-content__heading {
  margin-bottom: 16px;
}

.main-content__heading-item {
  &:first-child {
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 10.8254px;
    color: var(--color3);
    text-transform: uppercase;
  }

  &:nth-child(2) {
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 10.8254px;
    color: var(--color2);
    text-transform: uppercase;
  }
}

.main-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--color3);
  margin-bottom: 32px;
}

.form {
  span {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: var(--color5);
  }
}
.form-wrap {
  opacity: 0.5;
  border: 1px solid var(--color3);
  height: 100%;
  border-radius: 28px;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
}

.email-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--color6);
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  min-height: 48px;
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);

  &::-webkit-input-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  &::-moz-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  &:-ms-input-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  &:-moz-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
}

.btn-submit {
  border-radius: 28px;
  padding: 12px 27px;
  height: 100%;
  min-height: 48px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.247569);

  &:before {
    content: "";
    background: url("./assets/icon-arrow.svg") no-repeat;
    width: 9px;
    height: 18px;
    display: inline-block;
    background-size: contain;
  }
}
