.body-wrap {
  @include breakpoint(desktop) {
    padding-right: 610px;
  }
}

.header {
  height: 84px;

  @include breakpoint(desktop) {
    height: 160px;
  }

  .layout {
    display: flex;
    align-items: center;
    height: 100%;

    @include breakpoint(desktop) {
      max-width: 538px;
      padding: 0 20px;
      margin: auto;
    }
  }
}

.logo {
  width: 100px;
  height: 21px;

  @include breakpoint(desktop) {
    width: auto;
    height: 32px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main-content {
  position: relative;
  text-align: center;

  @include breakpoint(desktop) {
    position: static;
  }
  &:before {
    content: "";
    background: url("./assets/hero-mobile.jpg") no-repeat top center;
    width: auto;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    @include breakpoint(desktop) {
      background: url("./assets/hero-desktop.jpg") no-repeat center right;
      height: 100%;
      width: 43%;
      top: 0;
      margin: 0;
      background-size: contain;
      left: auto;
    }
  }
}

.main-content__text-block {
  padding-top: 312px;
  text-align: center;

  @include breakpoint(desktop) {
    padding-top: 77px;
  }

  .layout {
    //max-width: 445px;
    margin: auto;

    @include breakpoint(desktop) {
      max-width: 538px;
      padding: 0 20px;
    }
  }
}

.main-content__heading {
  margin-bottom: 18px;

  @include breakpoint(desktop) {
    margin-bottom: 16px;
  }
}

.main-content__heading-item {
  &:first-child {
    font-weight: 200;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 10.8254px;
    color: var(--color3);
    text-transform: uppercase;

    @include breakpoint(desktop) {
      font-weight: 300;
      font-size: 64px;
      line-height: 64px;
      letter-spacing: 17.3206px;
      text-align: left;
    }
  }

  &:nth-child(2) {
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 10.8254px;
    color: var(--color2);
    text-transform: uppercase;

    @include breakpoint(desktop) {
      font-weight: 600;
      font-size: 64px;
      line-height: 71px;
      letter-spacing: 17.3206px;
      text-align: left;
    }
  }
}

.main-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--color3);
  //max-width: 375px;
  //margin: 0 auto 30px auto;
  margin-bottom: 30px;

  @include breakpoint(desktop) {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    max-width: 435px;
    margin: 0 0 40px;
  }
}

.form {
  span {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: var(--color5);
  }
}
.form-wrap {
  opacity: 0.5;
  border: 1px solid var(--color3);
  height: 100%;
  border-radius: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  max-width: 446px;
  margin: auto;

  @include breakpoint(desktop) {
    padding-left: 31px;
    margin: 0;
  }
}

.email-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--color6);
  outline: none;
  border: none;
  width: 100%;
  height: 48px;
  background: transparent;

  @include breakpoint(desktop) {
    height: 54px;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.5;
  }

  &::-webkit-input-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    font-family: "Josefin Sans", sans-serif;

    @include breakpoint(desktop) {
      font-size: 16px;
    }
  }

  &::-moz-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    font-family: "Josefin Sans", sans-serif;
    @include breakpoint(desktop) {
      font-size: 16px;
    }
  }

  &:-ms-input-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    font-family: "Josefin Sans", sans-serif;
    @include breakpoint(desktop) {
      font-size: 16px;
    }
  }

  &:-moz-placeholder {
    color: var(--color3);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    @include breakpoint(desktop) {
      font-size: 16px;
    }
  }
}

.btn-submit {
  border-radius: 28px;
  padding: 12px 27px;
  height: 100%;
  min-height: 48px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.247569);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  position: relative;

  @include breakpoint(desktop) {
    min-width: 104px;
    height: 55px;
  }

  &:before {
    content: "";
    background: url("./assets/icon-arrow.svg") no-repeat center center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
}
